{% extends 'base.html' %}

{% block content %}

<section class="schedule section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="col-lg-10 col-12 text-center mx-auto mb-5">
                    <h2>住宿园区</h2>
                </div>
                <div class="row border-bottom pb-5 mb-5">
                    <div class="col-lg-4 col-12">
                        <img src="{{url_for('static',filename='images/图片3.jpg')}}" class="schedule-image img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                        
                        <h4 class="mb-2">简介</h4>
                        <p>本园区的住宿园区位于风景如画的杜村，为游客提供了一个远离城市喧嚣、融入大自然的宁静之地，让游客在祥和的乡村氛围中，体验愉快、健康、休闲的理想生活方式。</p>
                    </div>
                </div>
                <div class="row border-bottom pb-5 mb-5">
                    <div class="col-lg-4 col-12">
                        <img src="{{url_for('static',filename='images/图片4.jpg')}}" class="schedule-image img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                        <h4 class="mb-2">自然景观</h4>
                        <p>当地自然景色优美，环境宜人，东依九华山国家级风景名胜区，曾获省级“旅游乡镇”、省级“生态乡镇”、“安徽省优秀旅游乡镇”、“安徽省特色景观旅游名镇”等多项荣誉</p>
                    </div>
                </div>
                <div class="row border-bottom pb-5 mb-5">
                    <div class="col-lg-4 col-12">
                        <img src="{{url_for('static',filename='images/interior-1026440_1280.jpg')}}" class="schedule-image img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                        <h4 class="mb-2">传统文化和民俗文化体验</h4>
                        <p>独特的地域环境，孕育出深厚的文化底蕴，杜村乡历史悠久，人文荟萃，拥有丰富的物质和非物质文化遗产。中平黄垅自然村的新石器时期遗址，属良渚文化遗址，面积达1.5万平方米；历史悠久的东馆、西馆等古村落，曾为外地香客上、下山的投宿之所，繁华盛极一时；始建于明代的西馆刘光复故居原12进，至今遗址尚存；杜村经东馆至九华街与长垅经九子岭至九华街，自古辟有盘山石板大道，至今仍可供人徒步攀登；目连戏、青阳腔、竹编、竹雕、十番锣鼓等艺术代代相传</p>
                    </div>
                </div>
            
                <div class="row border-bottom pb-5 mb-5">
                    <div class="col-lg-4 col-12">
                        <img src="{{url_for('static',filename='images/temple-6823939_1280.jpg')}}" class="schedule-image img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                        
                        <h4 class="mb-2">寺庙旅游</h4>
                        <p>当地佛教文化底蕴深厚，八都河沿河庙宇、古迹众多，圣泉寺、白云禅寺、西来禅寺、松树庵等祠堂庙宇，是历代文人荟萃地，留下许多历史文化名人寻幽探胜时留下的诗词歌赋。乾隆下江南题崖刻“圣泉”至今清晰可见；李白赋诗联句改“九子山”为“九华山”；唐代行者甘贽大师也曾得道于此，古墓尚存；北宋王安石途经半山亭，留下《题半山亭壁》诗作。丰富的文化产品使拜佛朝觐不再是一项单体活动项目，旅游者在拜佛、体验佛教文化之余，仍可体验其他度假、休闲、娱乐类活动，实现宗教旅游产品与其他旅游产品出现多元组合，宗教旅游产品呈现多元化发展。</p>
                    </div>
                </div>
                <div class="row border-bottom pb-5 mb-5">
                    <div class="col-lg-4 col-12">
                        <img src="{{url_for('static',filename='images/图片5.jpg')}}" class="schedule-image img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                        <h4 class="mb-2">“硒”主题康养</h4>
                        <p>九子岭地区工业污染少，开发时间短，自然风光秀美，能够较好满足人们休闲康养的需求。本园区依托原生态乡野环境，借助周边知名文旅景点吸引游客，借鉴当地传统古建筑的设计风格，新建古色古香的乡村度假酒店，提升规划区整体风格品味；完善休闲度假设施，开展独具特色的休闲度假旅游。另一方面，硒是人体必需的微量元素之一，研究表明，低硒或缺硒人群通过适量补硒能够提高机体免疫能力，维护心、肝、肺、胃等重要器官正常功能。而九子岭位于安徽池州地区，硒资源丰富，盛产富硒农作物以及其他硒产品，九子岭康养综合体能够通过为其提供富硒产品以达到硒康养的功效，成为综合体的独特优势之一。</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-12">
                        <img src="{{url_for('static',filename='images/图片6.jpg')}}" class="schedule-image img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                        <h4 class="mb-2">特色的文化活动</h4>
                        <p>在花季举办花海主题旅游市场，充分挖掘“赏花经济”市场，将四季花卉与田园景观在空间上有机连片，营造四季五彩观光花海等田园大地艺术景观。基于赏花活动，开展种花、品花等活动，本园区延伸旅游经济活动，与花海景观融合，打造鲜切花生产、植物雕塑、花艺培训、花海运动、采风摄影、花馔美食、精油美容养生、园艺疗法、学生研学、亲子教育等综合性活动，打造与佛文化、古道有机融合的“借花献佛”朝拜活动，做到“赏花经济链”的一、二、三产融合发展。另一方面，举办特色的户外运动比赛以及民俗民艺展览。开展越野挑战赛、拍客大赛以及厨艺大赛，对当地的民俗民艺非遗举办主题展览，一方面让群众了解当地的历史文化底蕴，一方面塑造当地的特色文化形象。在建立统一品牌形象的基础上，通过对当地传统文化元素进行挖掘、创意和商业化，突出“硒”元素特色，提高产品和服务的附加值，增强吸引力，衍生产业链，增加产业发展效益。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}