{% extends 'base.html' %}

{% block content %}

<section class="schedule section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="row border-bottom pb-5 mb-5">
                    <div class="col-lg-4 col-12">
                        <img src="{{url_for('static',filename='images/placeholder10.png')}}" class="schedule-image img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                        
                        <h4 class="mb-2">一些标题一些标题一些标题一些标题</h4>
                        <p>一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述</p>
                    </div>
                </div>
                <div class="row border-bottom pb-5 mb-5">
                    <div class="col-lg-4 col-12">
                        <img src="{{url_for('static',filename='images/placeholder11.png')}}" class="schedule-image img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                        <h4 class="mb-2">一些标题一些标题一些标题一些标题</h4>
                        <p>一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述</p>
                    </div>
                </div>
                <div class="row border-bottom pb-5 mb-5">
                    <div class="col-lg-4 col-12">
                        <img src="{{url_for('static',filename='images/placeholder12.png')}}" class="schedule-image img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                        <h4 class="mb-2">一些标题一些标题一些标题一些标题</h4>
                        <p>一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述</p>
                    </div>
                </div>
            
                <div class="row border-bottom pb-5 mb-5">
                    <div class="col-lg-4 col-12">
                        <img src="{{url_for('static',filename='images/placeholder13.png')}}" class="schedule-image img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                        
                        <h4 class="mb-2">一些标题一些标题一些标题一些标题</h4>
                        <p>一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述一些详细叙述</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}