{% extends 'base.html' %}

{% block content %}

<section class="schedule section-padding" id="section_4">
    {% for message in get_flashed_messages() %}
        <div class="pb-5"></div>
        <div class="custom-btn text-center">{{ message }}</div>
        <div class="pb-5"></div>
    {% endfor %}
    <div class="container">
        <div class="row">
            <!-- <u class="text-info"> -->
            <div class="col-lg-12 col-12">
                <div class="col-lg-10 col-12 text-center mx-auto mb-5">
                    <h2>商品</h2>
                </div>
                
                <div class="row border-bottom pb-5 mb-5">
                    <div class="col-lg-4 col-12">
                        <img src="{{url_for('static',filename='images/恩施玉露茶叶.png')}}" class="schedule-image img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                        
                        <h4 class="mb-2">恩施玉露茶叶</h4>
                        <p>天然富硒，健康好茶</p>
                        <p>￥64</p>
                        <form title="purchase" method="post">
                            <div class="col-6">
                                <button type="submit" class="form-control col-6 custom-btn btn mt-3 pl-3">点击购买</button>
                            </div>
                        </form>
                
                    </div>
                </div>
                <div class="row border-bottom pb-5 mb-5">
                    <div class="col-lg-4 col-12">
                        <img src="{{url_for('static',filename='images/华栗富硒高档黄酒板栗酒礼盒.png')}}" class="schedule-image img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                        <h4 class="mb-2">华栗富硒高档黄酒板栗酒礼盒</h4>
                        <p>被山东省食文化研究会、山东省微量元素科学研究会富硒农产品专业委员会和潍坊市营养协会作为推荐产品</p>
                        <p>￥300</p>
                        <form title="purchase" method="post">
                            <div class="col-6">
                                <button type="submit" class="form-control col-6 custom-btn btn mt-3 pl-3">点击购买</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row border-bottom pb-5 mb-5">
                    <div class="col-lg-4 col-12">
                        <img src="{{url_for('static',filename='images/九华粮品富硒鸡蛋礼盒.png')}}" class="schedule-image img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                        <h4 class="mb-2">九华粮品富硒鸡蛋礼盒</h4>
                        <p>富硒蛋，营养好来源</p>
                        <p>￥40</p>
                        <form title="purchase" method="post">
                            <div class="col-6">
                                <button type="submit" class="form-control col-6 custom-btn btn mt-3 pl-3">点击购买</button>
                            </div>
                        </form>
                    </div>
                </div>
            
                <div class="row border-bottom pb-5 mb-5">
                    <div class="col-lg-4 col-12">
                        <img src="{{url_for('static',filename='images/利川红茶叶.png')}}" class="schedule-image img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                        
                        <h4 class="mb-2">利川红茶叶</h4>
                        <p>湖北特产、天然富硒</p>
                        <p>￥100</p>
                        <form title="purchase" method="post">
                            <div class="col-6">
                                <button type="submit" class="form-control col-6 custom-btn btn mt-3 pl-3">点击购买</button>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</section>

{% endblock %}