{% extends 'base.html' %}

{% block content %}

<section class="pricing section-padding">
    {% for message in get_flashed_messages() %}
        <div class="pb-5"></div>
        <div class="custom-btn text-center">{{ message }}</div>
        <div class="pb-5"></div>
    {% endfor %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-12 text-center mx-auto mb-5">
                <h2>科技园区</h2>
            </div>

            <div class="row border-bottom pb-5 mb-5">
                <div class="col-lg-8 col-12 mx-auto">
                    <form class="custom-form contact-form bg-white shadow-lg" method="post" role="form">
                        <h2>预约参观</h2>

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">                                    
                                <input type="text" name="name" id="name" class="form-control" placeholder="Name" required="">
                            </div>

                            <div class="col-lg-4 col-md-4 col-12">         
                                <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email" required="">
                            </div>

                            <div class="col-lg-4 col-md-4 col-12">                                    
                                <input type="date" name="subject" id="subject" class="form-control" placeholder="Subject" required="">
                            </div>

                            <div class="col-12">
                                <button type="submit" class="form-control">Submit</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            
            <div class="row border-bottom pb-5 mb-5">
                <div class="col-lg-4 col-12">
                    <img src="{{url_for('static',filename='images/图片7.png')}}" class="schedule-image img-fluid" alt="">
                </div>

                <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                    
                    <h4 class="mb-2">特色农业遥感</h4>

                    <p>通过卫星和无人机等设备，基于遥感和田间影像的智能分析和GIS与5G信息技术，对农作物的生长状况进行实时监测，建立算法模型，对不同作物和种植节点的农田物联网数据进行智能分析，从而实现农业园区的“空、天、地”一体化建设。园区将“遥感 + AI”技术与农业结合，应用于农业保险、农业监管、农业统计、期货证券、资源环保等领域；并且建立数据标注和算法团队，创建“农业遥感解译知识库”和“标注数据库”，利用人工智能技术训练自有模型，从而在时效性、准确度、实用性上具有优势。</p>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-12">
                    <img src="{{url_for('static',filename='images/satellite-67718_1280.jpg')}}" class="schedule-image img-fluid" alt="">
                </div>

                <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                    <h4 class="mb-2">数智支撑：依托数字化和物联技术，打造康养数智化服务</h4>

                    <p>通过线上平台，硒产品生产车间参观预约、民俗文化体验活动预约以及富硒产品购买等均可线上完成，平台畅通园区内各类数据、消费服务记录、费用账单、通知公告的送达机制，提升康养园区管理和服务的专业性；同时，通过收集用户兴趣信息，提供个性化定制服务，提高康养服务水平，适应现代化产业服务方式，贴近体验者的消费习惯，提高人们康养服务体验。</p>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}